language: nodejs

node_js:
  - "node"

cache: yarn

before_script:
  - yarn install

jobs:
  include:
    - stage: lint
      script: yarn run lint

    - stage: build
      script: yarn build

    - stage: test
      scripts:
        - yarn global add codecov
        - yarn test
      after_success:
        - codecov
